<mat-card class="news-feed-card">
  <mat-card-header>
    <div class="news-feed-card__avatar" mat-card-avatar>
      <img class="" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
    </div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>shared 1 day ago</mat-card-subtitle>
  </mat-card-header>
  <div class="news-feed-card__exercise">
    <mat-icon inline>format_list_bulleted</mat-icon> BURN FAT •	00:04:50
  </div>
  <mat-card-content class="news-feed-card__content">
    <p>70s Rockstars</p>
    <p>1s Wall Push offs</p>
    <p>35s Skier Jums</p>
    <p>30s Pause</p>
    <p>36s Frog Squats</p>
    <p>35s Side Lunges</p>
    <p>35s Cross Punches</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>COMMENT</button>
  </mat-card-actions>
</mat-card>
