<div class="browse">
  <mat-form-field class="browse__search" appearance="outline" color="primary">
    <mat-label>Search</mat-label>
    <input matInput>
    <mat-icon class="search-icon" matPrefix>search</mat-icon>
  </mat-form-field>
  <mat-list>
    <div mat-subheader>A</div>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>ASomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>ASomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>ASomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>B</div>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>BSomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>BSomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>BSomething</div>
      <div mat-line>Something</div>
    </mat-list-item>
  </mat-list>

</div>
