<div class="dashboard">
  <h1>Start Workout</h1>
  <h2>Recent Activities</h2>
  <app-recent-table></app-recent-table>
  <h2>Workouts</h2>
  <h3>My Workouts</h3>
  <div class="myworkouts">
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
    <app-workout-card></app-workout-card>
  </div>
  <h2>News Feed</h2>
  <div class="newsfeed">
    <app-news-feed-card class="news"></app-news-feed-card>
    <app-news-feed-card class="news"></app-news-feed-card>
    <app-news-feed-card class="news"></app-news-feed-card>
    <app-news-feed-card class="news"></app-news-feed-card>
  </div>
</div>
